<ion-view view-title="Self Edit" cache-view="false">
  <ion-content>

    <div class="row">
      <div class="col text-center">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Enter Mobile Number</span>
            <input type="text" ng-model="self" placeholder="Mobile Number">
          </label>
          </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col text-center">
        <button class="button button-block icon-left ion-plus-circled button-assertive" ng-click="set_self(self)">Save</button>
      </div>
    </div>



  </ion-content>
</ion-view>
