<ion-view view-title="Server Url" cache-view="false">
  <ion-content>

    <div class="row">
      <div class="col text-center">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Enter Ip Address:</span>
            <input type="text" ng-model="web" placeholder="ip address">
          </label>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col text-center">
        <button class="button button-block icon-left ion-plus-circled button-assertive" ng-click="set_data(web)">Save</button>
      </div>
    </div>



  </ion-content>
</ion-view>
